

header nav a.active{
  background-color: rgb(172, 0, 0);
  border-radius: 7px;
}

header{
  width: 100%;
  border-bottom: 2px solid white;
}
header nav{
  width: 100%;
  height: 100px;
  justify-content: end;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
header nav a {
  text-decoration: unset;
  color: white;
  padding: 1em;
  font-weight: 400;
}

.help-layout header{
  border: none;
}
.help-layout header nav{
  justify-content: start;
}
.help-layout header nav a {
  border: 3px solid white;
  border-radius: 7px;
}
.help-layout header nav a.active {
  background-color: orange;
}


.careers a{
  text-decoration: unset;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 7px;

}
.careers{
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto ;
  gap: 10px 10px;

}